body {
    background: lightsteelblue;
}

h1 {
    margin: -20px -20px 20px;
    line-height: 40px;
    font-size: 15px;
    color: grey;
    text-align: center;
    background: whitesmoke;
    border-bottom: 1px solod black;
}

.login {
    position: relative;
    margin: 150px 0 0 0;
    padding: 20px 20px 20px 0;
}



